@import '../../device.scss';

.header {

    &__desktop-img, &__tablet-img, &__mobile-img {
        display: none;
    }

    @include tablet {
        &__tablet-img {
            display: block;
            height: 678px;
            width: 1199px;
        }
    }

    @include desktop {
       &__desktop-img {
            display: block;
            width: 1920px;
            height: 762px;
       }
    }

}