@import '../../device.scss';

.banner {

    // &__desktop-img, &__tablet-img, &__mobile-img {
    //     display: none;
    // }

    @include mobile {
        &__img {
            width: 767px;
            height: 655px;
        }
    }

    @include tablet {
        &__img {
            height: 678px;
            width: 1199px;
        }
    }

    @include desktop {
       &__img {
            width: 1920px;
            height: 762px;
       }
    }

}