html, body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: linear-gradient(180deg, #189B54 -3.26%, #00A1E6 166.56%);
  position: relative;
  height: 812px;
  width: 375px;
  top: 0px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articlebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid yellow;
  gap: 144px;
  position: absolute;
  width: 285.7px;
  height: 338.57px;
  left: 45px;
  top: 356px;
}

.textbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid sandybrown;
  width: 269.7px;
  height: 94.57px;
}

.logotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 70.78px;
  height: 62.57px;
  top: 16px;
  left: 16.48px;
}

.text {
left: 31.36%;
right: 3.09%;
top: 58.33%;
bottom: 8.75%;
  font-size: 30px;
  color: #FFFFFF;
  align-self: flex-end;
  padding-bottom: 11px;
}

.logotext {
  color: white;
  width: 269.7px;
height: 40px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

align-self: stretch;
flex-grow: 0;
flex: none;
order: 1;

top: 106.57px;
left: 8px;

align-self: center;
flex-wrap: wrap;
}

.loading {
  width: 40px;
  height: 40px;
  top: 298.57px;
  left: 122.85px;
  border-radius: 2px;
  background: #FFFFFF;

  flex: none;
order: 1;
flex-grow: 0;
}